VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="66b844bf002d2633ca92"
VITE_APPWRITE_DATABASE_ID="66b8472100124d2188ce"
VITE_APPWRITE_COLLECTION_ID="66b84752000c1fc9be1c"
VITE_APPWRITE_BUCKET_ID="66b84931001459e834b5"
